* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 16px/1.2 'Source Sans Pro', sans-serif;; /* 'Merriweather', serif ; /* Helvetica */
}
h1, h2, h3, h4, h5, h6 {
	--font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}
input[type=text],
input[type=number],
input[type=date] {
	--font-family: 'Source Sans Pro', sans-serif;
	padding: 0.25em;
	font-size: 1em;;
	height: 2em;
}
select {
	--font-family: 'Source Sans Pro', sans-serif;
	padding: 0.25em;
	font-size: 1em;
	height: 2em;
}


#main-header {
	background-color: #333; //#563d7c; /* #77530e; #3c43a6; */
	color: #fff;
	padding: 30px 0;	
	margin: 0 0 20px 0;
}
#main-header h1 {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

main {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;	
}

#settings {
	
}

#options-language {
	margin-bottom: 1em;;
}

@media (min-width: 700px) {
	main {
		display:flex;
	}

	#settings {
		width: 250px;
		margin-right: 20px;
	}
}


#main-footer {
	background: #333;
	margin: 2em 0 0 0;
	color: #fff;
	text-align: center;
	padding: 1em 0 4em;
}

#main-footer a {
	color: #eee;
}

section.decision {
	border: 1px solid #ccc;
	margin: 0 0 1em;
	padding: 1.5em;
	overflow: hidden;
}
section.decision header {
	margin: -1.5em -1.5em 1.5em -1.5em;
	padding: 0.5em 1.25em;
	background: #ccc;
}

label {
	margin: 0 0 0 0;
}
label input {
	margin-right: 0.5em;	
}

input[type=button] {
	
	padding: 0.5em;
	background:#3fda67;
	color: #fff;
	border: none;
	font-size: 1.0em;
	border-radius: 4px;
	margin-top: 10px;
	cursor: pointer;
}
input[type=button]:hover {
	
	background:#32c357;

}

#section-options label {
	display: block;
}

#section-format label {
	display: block;
}

.books-testament {	
	margin-left: 1em;
}

.books-section {
	float: left;
	margin: 0 3em 2em 0 ;
}

.books-list {
	padding: 0 0 1.0em 1.75em;	
	font-size: 0.9rem;
}

#section-days label {
	display: block;
}

#section-books details summary::-webkit-details-marker {
	display: none;
}
#section-books  details > summary:after {	
	content: "+"; 
	color: #000;	
	float: right; 
	font-size: 1.0em; 
	font-weight: bold; 
	margin: 0 0 0 0; 
	padding: 0; 
	text-align: center; 
	width: 20px;
}
#section-books details[open] > summary:after {
    content: "-";
}

.books-list label {
	display: block;
}

#output {
	flex: 1 1;
}


@media print {
	#main-header, #main-footer {
		background: #fff;
		color: #333;
	}

	#main-header {
		
	}
	#main-footer a {
		color: #333;
		text-decoration: none;
	}

	section.decision {
		display: none;
	}
	#settings {
		display: none;
	}
}


.plan-weeks {
	display: flex;
	flex-wrap: wrap;
}
.week-block {
	margin-bottom: 1em;
	width: 33%;
}
.week-block .week {
	font-weight: bold;
	margin-bottom: 6px;
}


.plan-list {
	/*
	-moz-column-rule: 1px solid #ccc; 
	-webkit-column-rule: 1px solid #ccc; 
	column-rule: 1px solid #ccc; 
	*/
	-webkit-column-count: 3; 
	-moz-column-count: 3; 	
	column-count: 3;	
}
.plan-weeks .entry,
.plan-list .entry { 
	display: flex;
}
.entry .date { 
	width: 30%; 
	padding-right: 1.2em; 
	text-align: right; 	
	font-family:'Source Sans Pro', sans-serif;
}
.entry .verses { 
	width: 70%; 	
}

.plan-checkbox .plan-list .verses::before,
.plan-checkbox .plan-weeks .verses::before,
.plan-checkbox .plan-calendar .verses::before {
	content: '☐ ';
	content: '\2610 ';
	padding-right: 0.25em;
}

.plan-checkbox .plan-list .verses,
.plan-checkbox .plan-weeks .verses,
.plan-checkbox .plan-calendar .verses {
	text-indent: -15px;
    padding-left: 15px;
}

.plan-calendar { border-collapse: collapse; border: 1px solid #000;}		
.plan-calendar td,.plan-calendar th  { padding: 1em; vertical-align: top; width: 14%; border: 1px solid #ccc; }	
.plan-calendar th  { border: 1px solid #000; }	
.plan-calendar .date { display: block; font-size: 0.7em; text-align: right; margin-bottom: 0.3em; }		
.plan-calendar .verses { display: block;  font-size: 0.85em; }	
.plan-calendar .monthstart { border-left-color: #000; border-top-color: #000;  }		
.plan-calendar .monthend { border-right-color: #000; border-bottom-color: #000; }			
.plan-calendar .firstweek { border-top-color: #000;  }		
.plan-calendar .lastweek { border-bottom-color: #000;  }
.plan-calendar tr td:first-child { border-left-color: #000; }
.plan-calendar tr td:nth-child(7) { border-right-color: #000; }	

.plan-calendar .stats {
	font-size: 0.80em;
	margin-top: 6px;
	display: block;
}


.plan-color .section-pentateuch { background: #cbf4fb; #469eac;  }		
.plan-color .section-historical { background: #e2f7bd; #839f50;  }
.plan-color .section-poetic { background: #fbf5c3; #beb45a;  }
.plan-color .section-major { background: #f7ddef; #b38fa8;  }
.plan-color .section-minor { background: #f7ddef; #b18da7;  }
.plan-color .section-gospel { background: #fdc6ca; #ce1f2c;  }
.plan-color .section-acts { background: #fbe6ac; #deb545;  }
.plan-color .section-pauline, .plan-color .section-pastoral { background: #bafdf6; #008376;  }
.plan-color .section-general { background: #c0f9ae; #5d974b;  }
.plan-color .section-revelation { background: #b0a6f3; #6b6499;  }
.plan-color .section-deuterocanonical { background: #efefef;   }


.plan-books {
	font-size: 10px; line-height: 1.2; font-family: Helvetica; 
}

.plan-books .book { 
	margin: 0 0 0.05in 0; 
	display: flex;
}
.plan-books .name { 
	width: 1in; 
	-float: left; 
	margin-right: 0.1in;
}
.plan-books .chapters { 
	flex: 1 1;
	/* nothign needed */
}

.plan-books .box { 
	margin: 0 0.01in 0.05in 0; 
	border: solid 1px #111; 
	display: inline-block;
	padding: 3px;
    line-height: 1;	
}


.plan-books .title { width: 1in;  }

.plan-books .chapter { min-width: 0.15in;  width: 7em; }


iframe.pdf {
	width: 100%;
	border: 0;
	height: 8in;
}